div.well
  h2 {{bio.fullName}}
  img(src="https://s3.amazonaws.com/assets.opensecrets.org/politicians/img/{{candidateId}}.jpg")
  p Party: {{bio.party}}
  p Started their term: {{bio.termStart}}
  p Birthday: {{bio.birthday}}
  p Phone: {{bio.phone}}
  p Website: {{bio.website}}
  p Contact Form: {{bio.contactForm}}
  p Fax: {{bio.fax}}
  p VoteSmart ID: {{bio.voteSmartId}}
  p Candidate ID: {{bio.uniqueId}}

h3 Campaign Contributions
ul(ng-repeat= "money in moneys")
  li  Industry: {{money.industry_name}}
  li  Individual Contributions: {{money.indivs}}
  li  PAC Contributions: {{money.pacs}}
  li  Total {{money.industry_name}} Contributions: {{money.total}}

h3 Sponsored Bills
ul(ng-repeat= "bill in bills")
   div.well
    p <strong>ddBill ID</strong> {{bill.BillId}}
    p <strong>Chamber</strong> {{bill.Chamber}}
    p <strong>Introduced On</strong> {{bill.IntroducedOn}}
    p <strong>Official Title</strong> {{bill.OfficialTitle}}
    a.btn.btn-default(ng-href='{{bill.Info}}', role='button') More Information
