h2 {{bio.fullName}}

h3 Candidate Bio
img(src="https://s3.amazonaws.com/assets.opensecrets.org/politicians/img/{{candidateId}}.jpg")
p Party: {{bio.party}}
p Started their term: {{bio.termStart}}
p Birthday: {{bio.birthday}}
p Phone: {{bio.phone}}
p Website: {{bio.website}}
p Contact Form: {{bio.contactForm}}
p Fax: {{bio.fax}}
p VoteSmart ID: {{bio.voteSmartId}}
p Candidate ID: {{bio.uniqueId}}

h3 Campaign Contributions
ul(ng-repeat= "money in moneys")
  li  Industry: {{money.industry_name}}
  li  Individual Contributions: {{money.indivs}}
  li  PAC Contributions: {{money.pacs}}
  li  Total {{money.industry_name}} Contributions: {{money.total}}

h3 Sponsored Bills
ul(ng-repeat= "bill in bills")
  li Bill ID: {{bill.BillId}}
  li Chamber: {{bill.Chamber}}
  li Introduced On: {{bill.IntroducedOn}}
  li Official Title: {{bill.OfficialTitle}}
  li More Information: {{bill.Info}}
