h1 {{state}}

h3 Representatives

div.rep-info.row(ng-repeat="rep in reps | filter: search")
    a(ng-href="#/member/{{rep.candidateId}}"): li {{rep.fullName}}






//-   //- Add STATE logo(as determined by passed state ID)

