H1 States

p {{results[0].fullname}}

//-   //- Add STATE logo(as determined by passed state ID)

//- table.table-striped.reps-for-state(ng-repeat="rep in reps | filter: search")
//-   staterep(info="rep")