p {{rep.fullName}}
p {{rep.party}}
p {{req.params.id}}
p {{rep.birthdate}}
p {{rep.first_elected}}
p {{rep.phone}}
p {{rep.website}}
p {{rep.webform}}
p {{rep.fax}}
p {{rep.votesmart_id}}
p {{rep.bioguide_id}}
